
.swiper-pagination-bullet {
  background-color: #4e4e4e !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}

.shelf-pagination {
  position: relative !important;
  margin-top: 32px;
}

#productsCarousel::-webkit-scrollbar, #productsCarousel2::-webkit-scrollbar {
  display: none;
}